

<!DOCTYPE html>
<html>
    <head>
        <title>Flight Ticket Searcher</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
    </head>
<body>

<div class="w3-container w3-blue">
    <h2>Input Form</h2>
</div>





<form class="w3-container" action="/search" method="post">
    <p>
        <label>From</label>
        <input class="w3-input" type="text" name="from_flight" id="from_flight">
    </p>
</form>
<button class="w3-btn w3-blue">SEARCH</button>
</body>
</html> 