<html>
    <head>
        <meta charset="utf-8"/>
        <title>Flight Ticket Searcher</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css">

    </head>
    <body>
        <nav class="navbar fixed at the top"   >
            <div class="container">
                <div class="navbar header">
                    <a class="navbar-brand" href="page2.html">ANOTHER PAGE</a>
                </div>
            <ul class="unordered list next to the very left square">
                <li><a href="search">SEARCH</a></li>
            </ul>
                
            </div>
        </nav>
        <div class="container">
            
        </div>
    </body>
</html>